# used in tandem with package.json engine to only enable yarn
engine-strict=true

# To publish only on github private repositories (GPR)
@xyz:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_PACKAGES_TOKEN}

