{
  "semi": true,
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "*.scss",
      "options": {
        "printWidth": 140,
        "tabWidth": 2
      }
    },{
      "files": "*.json",
      "options": {
         "tabWidth": 2
      }
    }
  ]
}
