package.json
package-lock.json
tsconfig.json
tsconfig.*.json
*.lock

.*

*.log

build
out
dist

**/*.svg

coverage/
CNAME
LICENSE

.gitignore
.npmignore
.prettierignore
.DS_Store
.editorconfig
.eslintignore

*.sh
